@import "./constants.css";

body{
	margin:0;
	background: #f1efef;
	font-family: 'Roboto', sans-serif;
}

@keyframes playpauseFadeAnimate {
    0% {
        display: none;
        opacity: 0;
		    transform:scale(0);
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
  		  transform:scale(4);
    }
}
